@import 'utility';

$color-teal: hsla(180, 69%, 25%, 0.5);

//
.top-box-cat {
  display: flex;
  // border: solid 2px rebeccapurple;

  .trending {
    flex: 2;
  }

  .staff-picks {
    flex: 1;
  }
}
// Trending Topics

.trending {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // border: solid 2px #c82323;

  p {
    margin-bottom: 0;
  }

  .trending-main {
    border-bottom: 5px solid teal;
    margin-bottom: 50px;

    img {
      width: 350px;
      height: 350px;
    }
  }

  .trending-sub {
    border-bottom: 5px solid yellow;
    margin-bottom: 20px;

    img {
      width: 350px;
      height: 150px;
    }
  }

  .trending-main,
  .trending-sub {
    img {
      float: left;
    }

    .content {
      float: left;
      width: 300px;
      margin: 10px 0 10px 10px;
    }
  }

  h2,
  h3 {
    margin-top: 0;
  }
}

// StaffPicks below
.staff-picks {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .abstract p {
    overflow: hidden;
    padding-bottom: 20px;
    max-height: 18px;
    text-overflow: ellipsis;
    // set height to certain number of lines?
  }

  ul {
    list-style-type: none;
    padding: 10px;
  }
}

.staff-picks {
  button {
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    border: 0;
    border-bottom: 5px solid teal;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    background: 0;

    &::before {
      position: absolute;
      transition: 0.3s;
      content: '';
      width: 0;
      bottom: 0;
      background: lighten(teal, 10);
      height: 100%;
      left: -10%;
      transform: skewX(20deg);
      z-index: -1;
    }

    &:hover {
      cursor: pointer;

      &::before {
        width: 120%;
        left: -10%;
      }
    }
  }
}
