@import 'utility';

//
.top-box-cat {
  display: flex;
  border: solid 2px rebeccapurple;

  .trending {
    flex: 2;
  }

  .staff-picks {
    flex: 1;
  }
}
// Trending Topics

.trending {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 2px #c82323;

  .trending-main {
    height: 350px;
    border-bottom: 5px solid teal;
    margin-bottom: 50px;

    img {
      width: 350px;
      height: 350px;
    }
  }

  .trending-sub {
    height: 150px;
    border-bottom: 5px solid yellow;
    margin-bottom: 20px;

    img {
      width: 350px;
      height: 150px;
    }
  }

  .trending-main,
  .trending-sub {
    display: flex;
    align-content: center;

    div {
      padding: 20px;
      overflow: hidden;
    }
  }

  h2,
  h3 {
    margin-top: 0;
  }
}

// StaffPicks below
.staff-picks {
  display: flex;
  flex-direction: column;
  border: solid 2px #bada55;
  padding: 10px;

  .abstract {
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    margin-top: 25px;
  }

  ul {
    list-style-type: none;
    padding: 10px;

    img {

    }
  }
}
