@import 'utility';

.top-bar {
  display: flex;
  align-items: center;

  .nav-button {
    height: 50px;
    width: 100px;
  }

  h1 {
    flex: 1;
  }

  .login-button {
    background-color: black;
    height: 50px;
    align-items: center;
    //flex: 1;
  }
}
