@import 'utility';

p {
  font-family: $font-family-paragraph;
  font-size: $font-size-paragraph;
}

h1 {
  font-family: $font-family-module-header;
  font-size: $font-size-module-header;
}

h2 {
  font-family: $font-family-module-date;
  font-color: $font-color-module-date;
  font-size: $font-size-module-date;
}

h3 {
  font-size: $font-size-topic-headline;
  text-transform: uppercase;
}

time {
  font-family: $font-family-module-date;
  font-color: $font-color-module-date;
  font-size: $font-size-module-date;
}

button {
  background-color: $button-color;
  color: $button-font-color;
  border-style: none;
}

li {
  list-style: none;
}

.navBar {
  nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 20%, 0.8);
    transition: transform 200ms ease;
    width: 200px;
    transform: translateX(0);

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-top: 0;
    }

    &.hidden {
      transform: translateX(-200px);
    }
  }

  button.menu {
    &.hidden {
      // display: none;
    }
  }
}

.top-bar {
  display: flex;
  align-items: center;

  .nav-button {
    height: 50px;
    width: 100px;
  }

  h1 {
    flex: 1;
  }

  .login-button {
    background-color: black;
    height: 50px;
    align-items: center;
    //flex: 1;
  }
}
