@import 'utility';

.submitMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin: 1em;

  .submitForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 1em;
    margin: 1em;

    .submitLabel {
      padding: 1em;
      flex-direction: row;

      .submitLink,
      .tagSelector,
      & .otherTags {
        margin-left: 1em;
      }
    }

    .submitButton {
      margin: 0.75em;
    }
  }
}
