@import 'utility';

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;

  h1, h2 {
    // font-varian
  }
}

@import 'home';
@import 'category';
@import 'layout';
@import 'search_results';
@import 'submit';
@import 'storyitem';
