@import 'utility';

html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font: $font-size-paragraph / 1 $font-family-paragraph;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    // font-varian
  }
}

@import 'home';
@import 'category';
@import 'layout';
@import 'search_results';
@import 'submit';
@import 'storyitem';
